body
{
    background-image: url("../img/image.png");
}

.container
{
    border-radius: 10px;
}

.navbar-brand
{
    color: #bfbfbf;
    font-weight:bold;
    font-size: 30px;
}

.navbar-brand:hover
{
    color: #a6a6a6;
}

.nav-link
{
    color: #bfbfbf;
    font-size: 25px;
}

.dropdown-menu
{
    background-color: #bfbfbf;

}

.dropdown-item:hover
{
    background-color: #a6a6a6;
}

.col-md-4
{
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

.row
{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.thumbnail
{
    width: 100%;
    background-color: #2c2c2d;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    opacity: 0.8;
    text-align: center;

}

.thumbnail img
{
    max-height: 250px;
    padding: 15px;
}

.thumbnail h3
{
    color: #cccccc
}

.description
{
    color: #bfbfbf;
    text-align: justify;
}

.price
{
    color: #cccccc;
    font-weight:bold;
    font-size: 30px;
    text-align: right;
}

.btn-success
{
    background-color: #a64dff;
    border: none;
    color: #cccccc;
    text-align: center;
    font-weight:bold;
    width: 80%;
    margin-left: 18%;
}

.btn-success:hover
{
   background-color: #7300e6;
}

#sign-up,
#sign-in,
#checkout
{
    background-color: #2c2c2d;
    width: 530px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 0.8;
    color: #bfbfbf;
    text-align: center;
}

input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #1a1a1c;
    color: #7c7c7c;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 20px;
}

input[type=text]:focus,
input[type=password]:focus
{
    border: none;
    background-color: #1a1a1c;
    color: #7c7c7c;
}

input[type=text]:hover,
input[type=password]:hover
{
    border: none;
    background-color: #1a1a1c;
    color: #7c7c7c;
}

.btn-primary
{
    background-color: #a64dff;
    border: none;
    color: #cccccc;
    text-align: center;
    font-weight:bold;
    width: 70%;
    margin-top: 40px;
    height: 60px;
    font-size: 20px;
}

.btn-primary:hover
{
    background-color: #7300e6;
}


.shopping-cart
{
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
    color: #bfbfbf;
}

.shopping-cart-item
{
    width: 100%;
}

#div-sc-button
{
    background-color: #2c2c2d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#sc-button
{
    background-color: #a64dff;
    border: none;
    color: #bfbfbf;
    text-align: center;
    font-weight:bold;
    height: 60px;
    font-size: 25px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    width: 100%;
    margin-left: 0px;
}

#sc-button:hover
{
    background-color: #7300e6;
}

#sc-container
{
    background-color: #2c2c2d;
    margin-top: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    width: 80%;
}

#sc-total
{
    margin: 10px;
    font-size: 30px;
    color: #bfbfbf;
}

#sc-dropdown-menu
{
    text-align: center;
    background-color: #bfbfbf;
}

#sc-dropdown-menu li:hover
{
    background-color: #a6a6a6;
}

#sc-dropdown-menu a
{
    color: #1a1a1c;
}

.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border-radius: 4px;
    background-color: #bfbfbf;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

